@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active{
  font-weight: bold;
  color: cyan;
  background-color: rgba(0, 0, 0, 0.377);
}
nav a{
  width: 100px;
  color: white;
  border-radius: 8px;
  background-color: black;
}